body {
    display: grid;
    grid-column: 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
}
.image {
    grid-column: 1/2;
    width: 100%;
    grid-row: 1/2;
}
div {
    grid-column: 2/4;
    justify-content: center;
    text-align: center;
    padding: 5px 5px 5px;
    margin: 0px auto;
    font-family: 'Open Sans', sans-serif;
    color: rgba(99, 95, 95, 0.979);
}

.subscribe{
    background-color: orange;
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    grid-row: 5/6;
}
.button-box{
    grid-column: 2/4;
    grid-row: 5/6;
}
#checkbox{
    grid-column: 2/4;
    grid-row:4/5;

}
#main_box{
    display: grid;
    grid-column: 1fr;
    grid-row: 1fr 1fr 1fr 1fr 1fr 1fr;
}