/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url("https://use.typekit.net/dea1zon.css");

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #131F26   ;
  --secondary-color: #F29B30;
  --accent1-color: #8C6330;
  --accent2-color: #F2F2F2;

  /* change the values below to your chosen font(s) */
  --heading-font: "nunito-sans", sans-serif, "Trebuchet MS";
  --paragraph-font: "yrsa", serif, Georgia;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #131F26;  /* headlines on a white background */ 
  --headline-color-on-color: #F2F2F2; /* headlines on a colored background */ 
  --paragraph-color-on-white: #131F26; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #F2F2F2; /* paragraph text on a colored background */ 
  --paragraph-background-color: #131F26  ;
  --nav-link-color: #131F26;
  --nav-background-color: #F29B30;
  --nav-hover-link-color: #F2F2F2;
  --nav-hover-background-color: #131F26;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */
body, div, header, h1, h2, h3, h4, h5, h6, li, section, img {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

body {
  /* max-width: 1200px; */
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
  background-color: var(--accent2-color);
}
#body-site-map{
  padding: 4em;

}
.header-site-map{
  display: block;
  padding: 2em;
}
.h-site{
  padding: 10px;
}
img {
  display: block;
  margin: 0 auto;
  padding: 5px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
  display: grid;
  grid-template-columns: 150px auto;
  opacity: .9;
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}
#hero-msg{
  grid-column: 2/3;
  margin-top: 100px;
  grid-row: 1/3;
  padding: 25px;
}

#hero-msg h1 {
  text-align: center;
  font-family: var(--heading-font);
  color: var(--accent2-color);
  font-weight: 900;
  padding: 10px;
  margin-top: 75px;
  font-size: 3em;
}

#hero-msg h4 {
  text-align: center;
  font-family: var(--paragraph-font);
  color: var(--accent2-color);
}
.button-box {
  text-align: center;
  border: #F29B30 solid;
  width: 75px;
  border-radius: 10%;
  margin: 25px auto;
  grid-row: 2/3;
  grid-column: 2/3;
}
.button-box:hover{
  background-color: var(--secondary-color);
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
  color: white;
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 1em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;
  opacity: .9;
  justify-content: space-evenly;
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
  align-self: center;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
.home_nav{
  margin-left: 5px;
}
.logo {
  width: 80%;
  max-width: 200px;
  max-height: 200px;
  margin: 0;
  padding: 0;
  grid-column: 1/2;
}
#logo_link {
  padding-top: 5px;
  /* justify-self: center;
  align-self: center; */
}

.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {

  text-align: center;

}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}

.top {
  grid-area: top;
  border-left: 1px solid;
}

.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}

.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}

#image {
width: 50%;
height: 50%;
}

.bottom_footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  background-color: var(--secondary-color);
  align-items: center;
  padding: 10px;
}

.bottom_footer h3{
  padding: 15px;
}

.top_footer{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  background-color: var(--primary-color);
  align-items: center;
}

#sub{
  grid-column: 1/2;
  color: var(--accent2-color);
  margin: 0;
  padding: 0;
  width: min-content;
  text-align: center;
  margin: 0 auto;
}
.input{
  grid-column: 2/3;
}
.social_media{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 4/5;
  align-items: center;
}
.stay_connected{
  grid-column: 3/4;
  color: var(--accent2-color);
}
#hero{
  display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box{
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}
#hero-img {
  width: 100%;
  /* height: 400px; */
  padding: 0px;
  margin: 0px;
  z-index: -5;
  grid-row-start: 1;
  grid-column-start: 1;
}
#gen-contact{
  display: grid;
  grid-template-columns:1fr 1fr;
  margin: 50px;
}
.name{
  grid-column: 1/2;
  padding: 0;
  text-align: left;
}
.button{
  background-color: var(--secondary-color);
    color: black;
    text-decoration: none;
    font-family: var(--heading-font);
    font-size: 50px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 10px;
}
.contact-box{
  grid-row: 1/3;
  grid-column: 2/3;
  align-self: center;
  margin: 0 auto;
}
.contact-box:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 50px;
  gap: 50px;
  justify-items: center;
}
#content{
  display: grid;
  grid-template-columns: 1fr;
}

.tools, .warehouse, .house{
  /* border: 1px solid black; */
  margin: 0px;
  /* padding: 20px; */
  /* background-color: var(--primary-color); */
  text-align: center;
  width: 70%;
  max-height: 350px;


}
.ad{
  /* color: var(--accent2-color); */
  padding-top: 30px;
}
#background_img{
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: -5;
}
form{
  grid-column: 2/3;
  padding: 20px;
}
.contact-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
}
.email, .phone, .location, .question, .thumb, .globe{
  /* border: 3px solid; */
  background-color: var(--accent2-color);
  border-radius: 10%;
  padding: 25px;
  text-align: center;
  margin: 20px;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
  width: 75%;
}
.footer_logo{
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  justify-self: right;
}
.r1{
  /* background-color: rgba(128, 128, 128, 0.551); */
  background-color: var(--secondary-color);
}
.gray{
  /* background-color: rgba(128, 128, 128, 0.551); */
  background-color: var(--secondary-color);
}
table{
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid gray;
  font-family: var(--paragraph-font);
  width: 100%;
  line-height: 5ex;
  border-collapse: collapse;
}
.table{
  padding: 50px;
}
td, th{
  padding: 10px;
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.551);
  color: black;
  font-size: 40px;
}
.find_unit{
  margin-left: 50px;
  margin-right: 50px;
  /* background-color: #F29B30; */
  text-align: center;
  text-decoration: underline #F29B30 ;
}
#find_unit_h1{
  text-align: left;
  padding: 10px;
}
.find_unit_link{
  color: white;
  font-size: 15px;
  transition-duration: 0.4s;
}
.tools_pic{
  width: 100%;
  height: 40%;
  /* border-radius: 10%; */
  padding: 0;
}
.contact-h{
  grid-column: 1/3;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}
.card_title{
  grid-column: 1/4;
  padding: 10px;
  text-align: left;
  /* text-decoration: underline; */
}
.card_title h2{
  font-size: 30px;
  text-decoration: underline orange;
  text-align: left;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 65%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-family: var(--heading-font);
  font-weight: 900;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 65%;
  margin: 0 auto;
  font-family: var(--paragraph-font);
  text-align: left;
}.faq_header{
  padding: 20px;
}
.faq_accordion{
  margin-bottom: 50px;
  margin-top: 20px;
}
#googleMap{
  width:90%;
  height: 350px;
  /* margin: 0 auto; */
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 10px;
}
#directions{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 3fr;
  align-items: center;
  gap: 20px;
}
#directions h1{
  grid-column: 1/3;
  
}
.hours{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  line-height: 0px;
}
.col1{
  grid-column: 1/2;
  text-align: left;
}
.col2{
  grid-column: 2/3;
  text-align: right;
}
#hours_table tr{
  border: 0px;
}
.table_sec{
  padding-right: 50px;
  padding-right: 10px;
}
.h_tl{
  font-size: 18px;
  text-align: left;
  line-height: 0px;
}
.h_tr{
  font-size: 18px;
  text-align: right;
  line-height: 0px;
}
.table_border{
  border: 0px;
}
.question_pic{
  margin: 0 auto;
  width: 50%;
  height: 20%;
}



@media screen  and (max-width: 900px) {
  #hero, .home-grid {
    display: block;
    height: auto;
  }
  nav, footer {
      flex-direction: column;
  }
  nav a {
      display: block;
      padding: 15px;
  }
  #hero {
      margin-top: 0;
  }
  #hero-msg {
      margin-top: 0px;
      height: 100%;
      margin: 0px;
  }
  #hero-msg h4 {
      display: none;
      color: black;
      background-color: var(--primary-color);
  }
  .home-title {
      font-size: 25px;
      color: black;
      background-color: var(--primary-color);
      margin-top: 0px;
      margin: 0px;
  }
  .rivers-card, .camping-card, .rapids-card { 
      margin: 50px auto;
      width: 60%;
  }
  #background {
      display: none;
  }
  .mountains, .msg {
      width: 80%;
      display: block;
      margin: 0 auto;
  }
  footer {
      margin-top: 25px;
  }
  #m_heading{
      color: #000;
  }
  .find_unit_link{
    color: black;
  }
  .h_tl, .h_tr{
    font-size: 12px;
  }
  .button{
    width: 50%;
    font-size: 27px;
  }
  td ,th{
    font-size: 20px;
  }
  .cards{
    gap: 10px;
  }
  .ad p{
    font-size: 5px;
  }
}