
body {
    background-color: white;
    color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10%;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin: 10px;
    font-size: .7em;
    text-align: center;
}

/* First Ice */

#check{
    padding-top: 100px;
    font-size: 90px;
    color: #a9dd8a;
    text-align: center;
}
.check_text{
    font-family: 'Open Sans', sans-serif;
    margin: 10px;
    color: #504b3fd2;
    text-align: center;
}

/* Second Ice */
#ok{
    background-color: #4A88D9;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10%;
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 10px;
    font-size: 1em;
    outline: 1px solid #A2A6A7;
    outline-offset: 2px;
}

#dog{
    width: 330px;
    height: 165px;
    margin-top: 50px;
}
.second_ice{
    text-align: center;
    margin-top: 100px;
}
.sweet, .modal, .ok{
    font-family: 'Open Sans', sans-serif;
    margin: 10px;
    color: #504b3fd2;
}
.modal{
    margin-bottom: 20px;
    font-size: 12px;
}
.sweet{
    font-size: 18px;
}

/* Third Ice */
.third_ice{
    text-align:center;
    width: 600px;
    margin: 0 auto;
    font-family: 'Open Sans', 'sans-serif';
}
.material-icons-outlined{
    padding-top: 100px;
    font-size: 100px;
    color: red;
}
.link{
    color: #4A88D9;
    font-weight: bold;
    margin-top: 30px;
}
.text{
    color: rgba(0, 0, 0, .5);
    margin-bottom: 20px;
}
.oops{
    margin-bottom: 0;
    color: #504b3fd9;
}
.ok{
    background-color: #4A88D9; /* Green */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 6px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    outline: 1px solid black;
    outline-offset: 2px;
  }




.fourth_div {
    background-color: white;
    color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10%;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin: 10px;
    font-size: .7em;
    text-align: center;
}
.exit {
    text-align: right;
}

.material-icons {
    font-size: 100px;
    color: #63c6ee;
}

.underline_link {
    color: #504b3fd2;
}

#blue_link {
    text-decoration: none;
    color: #66AAF6;
    font-weight: 900;
}

.thumbs_up {
    color: white;
    padding: 10px;
    background-color: #4A88D9;
    border-radius: 10%;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0px;
}

.thumbs_down {
    color: white;
    padding: 10px;
    background-color: #A9A8A8;
    border-radius: 10%;
    outline: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0;
}

.right_align {
    margin-left: 100px;
}
.text{
    font-family: 'Open Sans', sans-serif;
    color: #504b3fd2;
    font-size: 12px;
}
.big_text{
    font-family: 'Open Sans', sans-serif;
    color: #504b3fd2;
    font-size: 13px;
}
.bold{
    font-weight: 900;
}
label{
    padding: 4px;
}