body, h1, h2, h3, h4, h5, h6, ul, li, p {
    margin: 0;
    padding: 0;
}
body{
    background-color: #ced7e4;
}
a:link, a:visited, a:hover, a:active{
    color: #478ecb;
}
h2{
    color: hsl(219, 31%, 25%);
    font-size: 1.3em;
    margin-bottom: 35px;
}
main, #align{
    display: grid;
    grid-template-columns: 250px, 400px;
    gap: 65px;
    font-size: 16px;
    margin:10px auto;
    width: 715px;

}
main img{
    /* width: 100%; */
    
}
ul{
    font-size: 1.26em;
    list-style: none;
    color: hsl(219, 31%, 25%);
}
